$dark: #1b1b1e;
@import url('../fonts/icons.css');

footer{
  padding: 5em 10em;
  background-color: $dark;
  color: #eee;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.newsletter{
  font-size: 22px;

  p{
    margin: 0;
  }

  form{
    margin-top: 0.5em;
  }

  input{
    font-size: 20px;
    outline: none;
    background-color: #fff;
    border: none;
    font-family: 'Montserrat';
    padding: 0.3em 0.4em;
    border-radius: 5px;
    
    &[type=email]{
      border-right: 1px solid $dark;
    }

    &[type=submit]{
      margin-left: 1em;
      background-color: #59cd90;
      cursor: pointer;
      padding: 0.3em 0.6em;
      color: #fff;
    }
  }
}

.social{
  a{
    font-family: 'icons';
    display: inline-block;
    font-size: 32px;
    margin-right: 0.8em;
    color: #eee;
    border-radius: 13px;
    user-select: none;
    cursor: pointer;

    &.yt{
      &:before{
        content: "\ea9d";
      }

      &:hover{
        color: #f00;
      }
    }

    &.tw{
      &:before{
        content: "\ea96";
      }
      
      &:hover{
        color: #00a2f9;
      }
    }

    &.ig{
      &:before{
        content: "\ea92";
      }

      &:hover{
        color: #bd3381;
      }
    }

    &.fb{
      &:before{
        content: "\ea90";
      }

      &:hover{
        color: #33589d
      }
    }
  }
}