.hero{
  position: relative;
  height: 700px;
  max-height: 100vh;

  .tagline{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3em 6em;
    width: 500px;
    max-width: 100%;
    color: #eee;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
    animation: tagline 1.5s ease-in-out 1;
    z-index: 2;
  }

  .react-parallax{
    height: 100%;

    img{
      z-index: 1;
    }
  }
}

section{
  padding: 1em 8em;
  line-height: 35px;
  letter-spacing: 0.3px;
  font-size: 20px;
  text-align: left;

  p{
    width: 50%;
  }

  &:nth-of-type(2n) p{
    margin-left: 50%;
  }
}

@keyframes tagline{
  from{
    transform: translateX(50px);
    opacity: 0;
  }
}